<div class="todo">
  <div class="d-flex flex-column">
    <!-- Menu -->
    <raee-menu></raee-menu>

    <div class="d-flex">
      <!-- Sidebar-->
      <raee-sidebar class="col-2"></raee-sidebar>

      <div class="p-3 col">
        <!-- Search-box-->
        <raee-search-box class="p-3"></raee-search-box>

        <div class="fotos">
          <link rel="stylesheet" href="list.component.css" />

          <!-- Imágenes -->
          <img src="../../../assets/img/DOMICILIO.png" alt="" style="width: 5vw" />
          <img src="../../../assets/img/PUNTO DE RECOGIDA.png" alt="" style="width: 5vw" />
          <img src="../../../assets/img/cac.png" alt="" style="width: 5vw" />
          <img src="../../../assets/img/PLANTA DE TRATAMIENTO.png" alt="" style="width: 5vw" />
        </div>

        <!-- Listar raees -->
        <div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let raee of raees | paginate: { itemsPerPage: 3, currentPage: page }">
              <div class="titulos">
                <button class="botonTitulo" (click)="ejecutarAccion(raee)">{{ raee.CodigoEtiqueta }}</button>
              </div>

              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="raee.porcentaje"
                  [attr.aria-valuenow]="raee.porcentaje" aria-valuemin="0" aria-valuemax="100"
                  [class.blue]="raee.porcentaje === 100">
                </div>
              </div>

              <div class="d-flex">
                <div id="entradasalida1">
                  <button class="botonLectura" *ngIf="calculateVisibility(raee.base,raee.contador,0)" (click)="ejecutarLectura(raee, 0)">S</button>
                </div>

                <div id="entradasalida1">
                  <button class="botonLectura" *ngIf="calculateVisibility(raee.base,raee.contador,1)" (click)="ejecutarLectura(raee, raee.base + 1)">E</button>
                  <button class="botonLectura" *ngIf="calculateVisibility(raee.base,raee.contador,2)" (click)="ejecutarLectura(raee, raee.base + 2)">S</button>
                  <div class="botonLecturaSimulado"></div>
                </div>

                <div id="entradasalida2">
                  <button class="botonLectura" *ngIf="calculateVisibility(raee.base,raee.contador,3)" (click)="ejecutarLectura(raee, raee.base + 3)">E</button>
                  <button class="botonLectura" *ngIf="calculateVisibility(raee.base,raee.contador,4)" (click)="ejecutarLectura(raee, raee.base + 4)">S</button>
                  <div class="botonLecturaSimulado"></div>
                </div>

                <div id="entradasalida3">
                  <button class="botonLectura" *ngIf="calculateVisibility(raee.base,raee.contador,5)" (click)="ejecutarLectura(raee, raee.base + 5)">E</button>
                  <button class="botonLectura" *ngIf="calculateVisibility(raee.base,raee.contador,6)" (click)="ejecutarLectura(raee, raee.base + 6)">S</button>
                  <div class="botonLecturaSimulado"></div>
                </div>
              </div>
            </li>
          </ul>

          <!-- Paginación -->
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<raee-footer class="fixed-bottom"></raee-footer>
