<div class="todo">
  <div class="d-flex flex-column">
    <!-- Menu -->
    <raee-menu></raee-menu>

    <div class="d-flex">
      <!-- Sidebar-->
      <raee-sidebar class="col-2"></raee-sidebar>

      <div class="p-3 col">
        <!-- Search-box-->
        <raee-search-box class="p-3"></raee-search-box>

        <div class="fotos">
          <link rel="stylesheet" href="list.component.css" />

          <!-- Imágenes -->
          <img src="../../../assets/img/DOMICILIO.png" alt="" style="width: 5vw" />
          <img src="../../../assets/img/PUNTO DE RECOGIDA.png" alt="" style="width: 5vw" />
          <img src="../../../assets/img/cac.png" alt="" style="width: 5vw" />
          <img src="../../../assets/img/PLANTA DE TRATAMIENTO.png" alt="" style="width: 5vw" />
        </div>

        <!-- Listar raees -->
        <div *ngIf="!resultado; else resultadopresente">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let raee of raees | paginate: { itemsPerPage: 4, currentPage: page }">
              <div class="titulos">
                <button class="botonTitulo" (click)="ejecutarAccion(raee)">{{ raee.CodigoEtiqueta }}</button>
              </div>

              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="raee.porcentaje"
                  [attr.aria-valuenow]="raee.porcentaje" aria-valuemin="0" aria-valuemax="100"
                  [class.blue]="raee.contador === 7">
                </div>
              </div>

              <div class="d-flex">
                <div id="entradasalida1">
                  <button class="botonLectura" (click)="ejecutarLectura(raee, 0)">S</button>
                </div>

                <div id="entradasalida1">
                  <!-- Botones de lectura -->
                  <button class="botonLectura" *ngIf="raee.contador > 1" (click)="ejecutarLectura(raee, 1)">E</button>
                  <button class="botonLectura" *ngIf="raee.contador > 2" (click)="ejecutarLectura(raee, 2)">S</button>
                  <div class="botonLecturaSimulado"></div>
                </div>

                <div id="entradasalida2">
                  <button class="botonLectura" *ngIf="raee.contador > 3" (click)="ejecutarLectura(raee, 3)">E</button>
                  <button class="botonLectura" *ngIf="raee.contador > 4" (click)="ejecutarLectura(raee, 4)">S</button>
                  <div class="botonLecturaSimulado"></div>
                </div>

                <div id="entradasalida3">
                  <button class="botonLectura" *ngIf="raee.contador > 5" (click)="ejecutarLectura(raee, 5)">E</button>
                  <button class="botonLectura" *ngIf="raee.contador > 6" (click)="ejecutarLectura(raee, 6)">S</button>
                  <div class="botonLecturaSimulado"></div>
                </div>
              </div>
            </li>
          </ul>

          <!-- Paginación -->
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>

        <!-- Resultado de búsqueda -->
        <ng-template #resultadopresente>
          <div class="resultado" *ngIf="resultado">
            <div class="titulos">
              <button class="botonTitulo" (click)="ejecutarAccion(resultado)">{{ resultado.CodigoEtiqueta }}</button>
            </div>

            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width.%]="resultado.porcentaje"
                [attr.aria-valuenow]="resultado.porcentaje" aria-valuemin="0" aria-valuemax="100"
                [class.blue]="resultado.contador === 7">
              </div>
            </div>

            <div class="d-flex">
              <div id="entradasalida1">
                <button class="botonLectura" (click)="ejecutarLectura(resultado, 0)">S</button>
              </div>

              <div id="entradasalida1">
                <!-- Botones de lectura -->
                <button class="botonLectura" *ngIf="resultado.contador > 1" (click)="ejecutarLectura(resultado, 1)">E</button>
                <button class="botonLectura" *ngIf="resultado.contador > 2" (click)="ejecutarLectura(resultado, 2)">S</button>
                <div class="botonLecturaSimulado"></div>
              </div>

              <div id="entradasalida2">
                <button class="botonLectura" *ngIf="resultado.contador > 3" (click)="ejecutarLectura(resultado, 3)">E</button>
                <button class="botonLectura" *ngIf="resultado.contador > 4" (click)="ejecutarLectura(resultado, 4)">S</button>
                <div class="botonLecturaSimulado"></div>
              </div>

              <div id="entradasalida3">
                <button class="botonLectura" *ngIf="resultado.contador > 5" (click)="ejecutarLectura(resultado, 5)">E</button>
                <button class="botonLectura" *ngIf="resultado.contador > 6" (click)="ejecutarLectura(resultado, 6)">S</button>
                <div class="botonLecturaSimulado"></div>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<raee-footer class="fixed-bottom"></raee-footer>
