.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search input[type="text"],
.region input[type="text"],
.fechas input[type="date"],
.tipo-raee select {
  height: 40px;
  width: 100%;
  max-width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 15px;
  color: #333333aa;
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .search,
  .region {
    flex-basis: 20%;
    margin-right: 20px;
  }

  .fechas {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }

  .fechainicio,
  .fechafin {
    flex-basis: 50%;
    margin-right: 20px;
  }

  .tipo-raee {
    flex-basis: 20%;
    margin-top: 10px;
  }

  button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
  }
}
