footer {
  background-color: #212121;
  padding: 20px 0;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 70px;
  width: auto;
  margin: 10px;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}

footer img:hover {
  filter: grayscale(100%);
}
